.top-nav
{
  background-color: rgba(244, 242, 242, 0.868);;
}
.top-nav
{
  background-color: #ef662f;
  color: white;
  padding: 5px; 
  border-radius:3px; 
  font-size: 14px;
}
nav-h5
{
  font-weight: 900;
  color:#ef662f;
  font-size:18px;
}
nav-btn
{
  height: 45px; 
  width: 160px; 
  background-color: #ef662f; 
  font-weight:700;  
  color: white; 
  border:0px; 
  border-radius: 0px;
}

#Helpdesk
{
  background-color: #ef662f;
}
.Headoffice
{
  text-align: justify; 
  color: black;
}